.header {
    align-items: center;
    position: sticky;
    top: 0;
    background-color: darkslateblue;
    width: 100%;
    height: 50px;
}

.header__center {
    font-size: xx-large;
    color: white;
}