.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #f7f7f7;
    z-index: 100;
    width: 100%;
}

.header__icon {
    object-fit: contain;
    height: 75px;
    margin-left: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    font-size: xx-large;
    color: blue;
}

.header__right {

}