.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;

    background-color: #7393B3;
}

.navbar__links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar__logo {
    margin-right: 2rem;
}

.navbar__logo img {
    width: 100px;
    height: 100px;
}

.navbar__links-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.navbar__links-container p {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.navbar__links-container p:hover {
    color: blanchedalmond;
    margin: 0 1rem;
    text-decoration: none;
}

.navbar__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}